trigger:
- main

pool:
  vmImage: 'Default'
variables:
  imageName: 'dvrsdev/douglasprovacloud' 
  tag: 'latest' 

steps:
- task: Docker@2
  displayName: Login no Docker Hub
  inputs:
    command: login
    containerRegistry: 'dockerhub-connection' 

- task: Docker@2
  displayName: Build and Push
  inputs:
    command: buildAndPush
    repository: $(imageName)
    Dockerfile: 'app/Dockerfile' 
    tags: |
      $(tag)