trigger:
- main

pool:
  name: 'Default' 

variables:
  imageName: 'dvrsdev/douglasprovacloud'
  tag: 'latest'
  keyPath: '/home/dvrs/myagent/ec2-key.pem' 

stages:
- stage: Build
  displayName: Build and Push Docker
  jobs:
  - job: Build
    steps:
    - task: Docker@2
      displayName: Login Docker Hub
      inputs:
        command: login
        containerRegistry: 'dockerhub-connection'

    - task: Docker@2
      displayName: Build and Push
      inputs:
        command: buildAndPush
        repository: $(imageName)
        Dockerfile: 'app/Dockerfile'
        tags: |
          $(tag)

- stage: Deploy
  displayName: Deploy na EC2
  dependsOn: Build 
  condition: succeeded()
  jobs:
  - job: DeployEC2
    steps:
    - script: |
        echo "--- Verificando Terraform ---"
        terraform -version || { echo "Terraform não encontrado no agente!"; exit 1; }
        
        echo "--- Lendo IP da pasta Infra ---"
        cd infra
        
        IP_LIDO=$(terraform output -raw app_public_ip)
        
        echo "IP Recuperado do Terraform: $IP_LIDO"
        
        # azure devops transforma o texto bash em variável de pipeline 
        echo "##vso[task.setvariable variable=ec2Ip]$IP_LIDO"
      displayName: 'Obter IP Dinâmico da Infra'

    - script: |
        echo "--- Ajustando permissão da chave (Segurança) ---"
        chmod 400 $(keyPath)

        echo "--- Iniciando Conexão SSH em $(ec2Ip) ---"
        
        # conecta -> entra na pasta -> baixa a imagem nova -> recria o container
        ssh -o StrictHostKeyChecking=no -i $(keyPath) ubuntu@$(ec2Ip) "cd /opt/prova-app && sudo docker compose pull && sudo docker compose up -d --force-recreate"
      displayName: 'Executar Deploy Remoto'