trigger:
- main

pool:
  name: 'Default' 

variables:
  imageName: 'dvrsdev/douglasprovacloud'
  tag: 'latest'
  keyPath: '/home/dvrs/myagent/ec2-key.pem' 
  ec2Ip: '44.214.188.179'

stages:
- stage: Build
  displayName: Build and Push Docker
  jobs:
  - job: Build
    steps:
    - task: Docker@2
      displayName: Login Docker Hub
      inputs:
        command: login
        containerRegistry: 'dockerhub-connection'

    - task: Docker@2
      displayName: Build and Push
      inputs:
        command: buildAndPush
        repository: $(imageName)
        Dockerfile: 'app/Dockerfile'
        tags: |
          $(tag)

- stage: Deploy
  displayName: Deploy na EC2
  dependsOn: Build 
  condition: succeeded()
  jobs:
  - job: DeployEC2
    steps:
    - script: |
        echo "--- Ajustando permissão da chave (Segurança) ---"
        chmod 400 $(keyPath)

        echo "--- Iniciando Conexão SSH em $(ec2Ip) ---"
        
        # Agora ele vai usar o IP '44.214.188.179' que definimos lá em cima
        ssh -o StrictHostKeyChecking=no -i $(keyPath) ubuntu@$(ec2Ip) "cd /opt/prova-app && sudo docker compose pull && sudo docker compose up -d --force-recreate"
      displayName: 'Executar Deploy Remoto'